.frontpageQuote {
    padding: 20px;
    max-width: 600px;
    background: #FFF;
    min-height: 200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    z-index: 100;
}